# Archivos de compilación y carpetas de build
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.sln
/*.vcxproj*
/compile_commands.json

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de usuario/IDE y editores
*.user
*.idea/
*.vscode/
*.swp

# Ejecutables generados por CMake o scripts
MarIA
MarIA.exe

# Archivos de guardado temporal
*.sav
*.tmp

# Ignorar assets generados temporalmente
assets/tmp/
